@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root{
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream:hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}


*{
    margin: 0;
    padding: 0;
}

body{
    font-size:0.875rem;
    background-color: var(--Cream);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

/*Estilos para el encabezado categoría del producto*/
p.category{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    letter-spacing:0.3125rem;
    font-weight: 100;
    color: var(--Dark-grayish-blue);
    padding-top: 1.5rem;
}

/*Estilos para el titulo del producto*/
.title{
    font-family: 'Fraunces', serif;
    padding-right: 7rem;
}

/*Estilo para el parrafo de la descripción*/
p{
    font-size: 0.875rem;
    font-family: 'Montserrat', sans-serif;
    padding-right: 2rem;
    padding-bottom: 0.02rem;
}

.pricing-area {
    display: flex;
    flex-direction: column;
    gap: 2.1rem;
}

.pricing-area p {
    color: var(--dark-cyan);
    font-family: 'Fraunces', serif;
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.6rem;
    margin-top: 1rem;
}

.pricing-area p span {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    color: var(--dark-grayish-blue);
    text-decoration: line-through;
    font-size: 0.8rem;
}

.pricing-area button {
    cursor: pointer;
    border: 1px solid var(--Dark-cyan);
    background-color: var(--Dark-cyan);
    color: var(--White);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-radius: 10px;
    padding: 0.9rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    transition: all ease-in-out 0.2s;
}

/*Estilos para la tarjeta*/
.card{
    position: relative;
    max-width: 500px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/*Estilos para la imagen*/
.imagen img{
    border-radius: 1rem 0 0 1rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Estilos para la descripción*/
.description{
    display: flex;
    flex-direction: column;
    border-radius: 0 1rem 1rem 0;
    padding: 2rem;
    gap: 1.4rem;
    background-color: var(--White);
}

.description p{
    color: var(--Dark-grayish-blue);
}

/*Estilo para el botón*/

.description.pricing-area{
    margin-top: 1rem;
    width: 100%;
}

.attribution{
    font-size: 0.6875rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* Responsive design*/

@media (hover: hover) {
    button:hover {
    transition: all ease-in-out 0.2s;
    background-color: var(--darker-cyan);
    }
}

@media screen and (max-width: 650px) {
    .card {
        margin-top: 10%;
        grid-template-columns: 1fr;
        grid-template-rows: 15rem 1fr;
        height: 100%;
        border-radius: 0px 0px 0px 0px;
    }
    .description{
        border-radius: 0px 0px 15px 15px;
    }
    .imagen img{
        background-image: url("./images/image-product-mobile.jpg");
        border-radius: 15px 15px 0px 0px;
        background-position: center;
        background-size:cover;
        width: 100%;

    }
}